* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	background-color: rgb(255, 223, 135);
	letter-spacing: 2px;
}

header {
	display: flex;
	justify-content: space-between;
	font-family: "Permanent Marker", cursive;
	padding: 0 0px;
	position: relative;
}

#header-name {
	background-color: rgb(255, 223, 135);
	width: 30%;
	padding-left: 5px;
}

header:nth-child(1) {
	position: sticky;
	top: 0px;
}
a {
	text-decoration: none;
	color: black;
}

#header-nav {
	display: flex;
	align-items: flex-end;
	font-size: 22px;
}
.section-list {
	display: flex;
	align-items: center;
	padding-left: 0;
	padding-right: 5px;
	height: 100%;
	background-color: rgb(255, 223, 135);
	list-style-type: none;
	gap: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 110vh;
	width: auto;
	background-color: black;
	color: white;
	font-family: "Permanent Marker", cursive;
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
	width: 60vw;
}

.about-container p {
	margin: 0 auto;
	align-self: center;
	font-weight: 200;
	text-indent: 5%;
	padding-top: 20px;
	text-align: center;
	font-family: "Permanent Marker", cursive;
	font-size: 24px;
}

.about-picture {
	height: 30vh;
	align-self: center;
	border-radius: 60%;
	margin-top: 5%;
}

#resume h3 {
	text-align: center;
	margin-top: 5px;
	font-size: 22px;
}

#resume a {
	color: white;
}

.bottom-proj {
	margin-bottom: 5px;
}

.container h2 {
	width: 30%;
	margin: 0 25%;
	text-align: center;
	font-size: 38px;
	border-bottom: 6px solid rgb(255, 223, 135);
}

.project-container {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	padding: 20px;
}

.project-img {
	width: 45%;
	border-radius: 5px;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.project-about {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

.project-about p {
	font-weight: 200;
	font-family: "Roboto", sans-serif;
	text-indent: 5%;
}

.project-about h3 {
	font-size: 28px;
}

@media (max-width: 900px) {
	.project-container {
		flex-direction: column-reverse;
		align-items: center;
	}

	.project-about {
		margin: 0;
		width: 90vw;
	}

	.project-about h3 {
		font-size: 22px;
	}

	.project-img {
		width: 95%;
	}

	.container h2 {
		text-align: center;
		width: 50%;
		font-size: 28px;
		border-bottom: 5px solid rgb(255, 223, 135);
	}

	body {
		letter-spacing: 0px;
	}

	#header {
		justify-content: space-between;
	}

	#header-nav {
		font-size: 18px;
		width: 100%;
		justify-content: center;
	}

	#header-name {
		font-size: 24px;
		text-align: left;
		width: 80%;
	}

	.section-list {
		width: 100%;
		justify-content: center;
	}

	.about-container {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 20px;
	}
	.about-container p {
		font-size: 18px;
		text-align: left;
		letter-spacing: 0px;
		font-family: "Roboto", sans-serif;
	}
}

@media (max-width: 650px) {
	#header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#header-name {
		font-size: 24px;
		text-align: center;
		width: 100%;
	}

	.project-about {
		padding: 0px;
	}

	.container-header {
		margin-top: 10%;
		width: 100%;
	}
}

@media (max-width: 450px) {
	#header-nav {
		font-size: 16px;
	}
}
