* {
	box-sizing: border-box;
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	font-family: "Permanent Marker", cursive;
	padding: 0 10px;
}

a {
	text-decoration: none;
	color: black;
}

#header-nav {
	display: flex;
	align-items: flex-end;
	font-size: 22px;
	position: sticky;
}
.section-list {
	display: flex;
	padding-left: 0;
	background-color: white;
	list-style-type: none;
	gap: 15px;
}

.section-link {
	/* font-family: "Permanent Marker", cursive; */
	/* font-family: "Roboto", sans-serif; */
}
.container {
	min-height: 110vh;
	margin-bottom: 2px;
	width: auto;
	background-color: black;
	color: white;
	font-family: "Permanent Marker", cursive;
}

#resume h3 {
	text-align: center;
}

#resume a {
	color: white;
}

.container h2 {
	text-align: center;
}

.project-container {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	padding: 10px;
}

.project-img {
	width: 45%;
	border-radius: 5px;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.project-about {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin: 0 auto; */
	/* background-color: rgb(36, 199, 90); */
	padding: 0 20px;
}

.project-about p {
	font-weight: 200;
	font-family: "Roboto", sans-serif;
	text-indent: 5%;
}

.project-about h3 {
	font-size: 32px;
}

@media (max-width: 900px) {
	.project-container {
		flex-direction: column-reverse;
		align-items: center;
	}

	.project-about {
		margin: 0;
		width: 90vw;
	}

	.project-about h3 {
		font-size: 22px;
	}

	.project-img {
		width: 95%;
	}

	.container h2 {
		text-align: center;
		font-size: 36px;
		border-bottom: 2px solid white;
	}
}

@media (max-width: 650px) {
	#header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project-about {
		padding: 0px;
	}
}

@media (max-width: 450px) {
	#header-nav {
		font-size: 16px;
	}
}
